$nav-bar-height: 64px + 8 * 2;

//# Spacing
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 32px;
$spacing-6: 48px;
$spacing-7: 64px;
$spacing-8: 96px;
$spacing-9: 128px;
$spacing-10: 192px;
$spacing-11: 256px;
$spacing-12: 384px;
$spacing-13: 512px;
$spacing-14: 640px;
$spacing-15: 768px;
//? See page 73 of 'Refactoring UI'
