@import "variables";
@import "mixins";

a {
	text-decoration: none;
}

.App {
	min-height: 100vh;

	.nav-bar {
		height: $nav-bar-height;
		position: fixed;

		* {
			color: white;
		}
	}

	.content {
		min-height: calc(100vh - #{$nav-bar-height});
		position: relative;
		top: $nav-bar-height;
		margin: auto;
		display: flex;
	}
}

.MuiPaper-root,
.MuiCard-root {
	padding: 8px;
}

[role="presentation"] {
	display: flex;
	align-items: center;
	justify-content: center;
}
